@media only screen and (max-width: 700px) {
    .logo {
      display: none;
    }
    .b4 {
        display: none;
    }
    nav .botoes {
        height: 150px;
        flex-direction: column;
        align-items: center;
    }
  }
.container {
    position: absolute;
    background-color: #021744;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: white;
    width: 100vw;
    
}
.fundo {
    position: static;
    height: 750px;
    width: 100vw;
    background-image: url(./dog2.jpg);
    background-size: cover;
    background-position-y: -250px; 
    margin-top: 100px;
}
.lateral {
    padding-top: 100px;
    margin-left: 50px;
    width: 500px;
    /* text-align: justify; */
    font-family: 'Comfortaa', cursive;
    color: #021744;
    /* text-shadow: 1px 1px white; */
}
.lateral :nth-child(1) {
    font-size: 44px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.lateral :nth-child(2) {
    font-size: 26px;
    margin-top: 15px;
}
.pets-table {
    display: flex;
    flex-direction: row;
}
.conheca {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    text-transform: uppercase;
}
.descricao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -200px;
    width: 60vw;
    height: 150px;
}
.paragrafo {
    height: 100px;
    text-align: left;
    width: 250px;
    font-size: 18px;
    margin-top: 0;
}
figure img {
    width: 300px;
    height: 400px;
    padding-top: 50px;
    border-radius: 10px;
}
main.pets-table {
    align-items: center;
    justify-content: space-evenly;
}
main {
    align-items: center center;
    justify-content: center;
    width: 60vw;
    height: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.rodape {
    display: flex;
    height: 250px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 40px;
    font-size: 18px;
    background-color: rgb(37, 37, 37);
    justify-content: space-evenly;
}
.email {
    width: 300px;
    text-align: center;
}
.rodape1 {
    width: 110px;
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 0;
}
.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 100px;
    flex-grow: 1;
    background-color: #2fb9ecdc;
    color: #03256c;
    transform-origin: center center;
}
.logo {
    width: 200px;
    text-align: left;
    color: #06aae1;
    padding-left: 10px;
    flex-grow: 6;
    transform-origin: center left;
    padding-left: 20px;
}
h1 {
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    font-size: 40px;
    padding-right: 200px;
}
h2 {
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
    font-size: 32px;
}
nav {
    display: flex;
    width: 100vw;
    margin: 0;
    justify-content: space-between;
    background-color: #03256c;
}
.logo:hover {
    transform: scale(1.1);
    transition: transform .2s;
    cursor: pointer;
}
.b1:hover {
    color:  #06aae1;
    transform: scale(1.1);
    transition: transform .2s;
    cursor: pointer;
}
.b2:hover {                                     
    color:  #06aae1;
    transform: scale(1.1);
    transition: transform .2s;
    cursor: pointer;
}
.b3:hover {
    color:  #06aae1;
    transform: scale(1.1);
    transition: transform .2s;
    cursor: pointer;
}
.b4 {
    flex-grow: 1;
}

/* From uiverse.io */
button {
    display: inline-block;
    cursor: pointer;
    outline: none; 
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    position: relative;
   }

   button.comece-agora {
    width: 20rem;
    height: auto;
   }
   
   button.comece-agora .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #03256c;
    border-radius: 1.625rem;
    margin-top: 20px;
   }
   
   button.comece-agora .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.comece-agora .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.comece-agora .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.comece-agora .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.60rem 0;
    margin: 0 0 0 1.85rem;
    color: #021744;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
div.text {
    margin-top: 2800px;
}